.mainContent-header {
  padding: 1.5625rem 2.5rem;
  width: 100%;

  h1 {
    font-size: 2rem;
    color: var(--light-primary-grey);
    display: inline-block;
    font-weight: 400;
    line-height: 2.375rem;
    letter-spacing: -0.04rem;
  }
}