@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-surface: #FFFFFF;
  --light-strike: #E6E6E6;
  --light-primary-grey: #000;
  --light-tertiary-grey: #999;
  --light-cuaternary-grey: #B8B8B8;
  --light-base: #F2F2F2;
  --foreground-rgb: 0, 0, 0;
  --background-primary: var(--light-surface);
  --background-primary-main-container: var(--light-base);
  --color-primary: var(--light-primary-grey);
  font-family: 'Avenir';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--light-primary-grey));
  background: var(--background-primary);
  font-family: 'Avenir';
}
